<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Войти</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        .error {
            color: red
        }
    </style>
</head>
<body>
<div th:replace="~{components/navigation :: navigation(main)}"/>
<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading px-5">
            <div class="panel-title">Setting</div>
        </div>
        <div class="panel-body">
            <form th:action="@{/main}"
                  method="post"
                  class="form-horizontal"
            >
                <div class="form-group bg-light p-5">
                    <div class="panel-title">Notification</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="whatsApp" id="inlineRadio1"
                               value="true">
                        <label class="form-check-label" for="inlineRadio1">whatsApp</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="facebook" id="inlineRadio2"
                               value="true">
                        <label class="form-check-label" for="inlineRadio2">facebook</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="telegram" id="inlineRadio3"
                               value="true">
                        <label class="form-check-label" for="inlineRadio3">telegram</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="email" id="inlineRadio4"
                               value="true">
                        <label class="form-check-label" for="inlineRadio3">email</label>
                    </div>
                </div>

                <div class="form-group bg-light p-5">
                    <label for="formGroupExampleInput">Search</label>
                    <input type="text" class="form-control" name="search" id="formGroupExampleInput"
                           placeholder="Russia">
                    <label for="formGroupExampleInput">Filter</label>

                    <div class="form-row align-items-center">
                        <div class="col-auto">
                            <label class="sr-only">Price from</label>
                            <input type="text" name="priceFrom" class="form-control mb-1" placeholder="20 000">
                        </div>
                        <div class="col-auto">
                            <label class="sr-only">to</label>
                            <input type="text" name="priceTo" class="form-control mb-1" placeholder="30 000">
                        </div>

                        <div class="col-auto my-1">
                            <span>Number or rooms</span>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineRadio10">1</label>
                                <input class="form-check-input ml-1" type="checkbox" name="one"
                                       id="inlineRadio10"
                                       value="true">
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineRadio20">2</label>
                                <input class="form-check-input ml-1" type="checkbox" name="two"
                                       id="inlineRadio20"
                                       value="true">
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="inlineRadio30">3</label>
                                <input class="form-check-input ml-1" type="checkbox" name="three"
                                       id="inlineRadio30"
                                       value="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto my-1 align-items-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>
